* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: .5em;
}

a {
    color: black;
    font-weight: 700;
}

input {
    border: 2px solid black;
    padding: .5em;
}

button {
    background: black;
    color: #FFFF;
    font-weight: 700;
    padding: .5em;
    cursor: pointer;
}

#my-profile-photo {
    width: 20%;
    border: 5px solid black;
    border-radius: 8px;
}

#about-me-section {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

#linkedIn-section {
    margin: 1em 0;
}

#newsletter-section {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 20%;
}

#newsletter-section-note {
    font-size: .5rem;
}